*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b061f;
}

.text{
    position: fixed;
    color: rgb(255,255,255,0.1);
    font-size: 12vw;
    font-family: "Kablammo";
    font-weight: 100;
    animation: animatetext 5s linear infinite;
}

@keyframes animatetext{
    0%{
        color: rgb(255,255,255,0.1);
        text-shadow: none;
    }

    100%{
        color: #ffac09;
        text-shadow: 0 0 10px #ffac09,
        0 0 20px #ffac09,
        0 0 40px #ffac09,
        0 0 80px #ffac09,
        0 0 160px #ffac09,
    }
}

.texteletaxi{
    position: fixed;
    color: rgb(255,255,255,0.1);
    margin-bottom: -20%;
    font-size: 12vw;
    font-family: "Kablammo";
    font-weight: 100;
    animation: animatetext 5s linear infinite;

}

@keyframes animatetexteletaxi{
    0%{
        color: rgb(255,255,255,0.1);
        text-shadow: none;
    }

    100%{
        color: #ffac09;
        text-shadow: 0 0 10px #ffac09,
        0 0 20px #ffac09,
        0 0 40px #ffac09,
        0 0 80px #ffac09,
        0 0 160px #ffac09,
    }
}

