/*----Valores por defecto----*/
html{
    background-color: #e0e719;
}
#Rojo{
    background-color: #ea2323;
}
#Verde{
    background-color: #84ea23;
}
#Tabla{
    display: flex;
    flex-direction: column;
    width: 99.5%;
    height: 98%;
    border: 6px solid black;
    border-radius: 25px 25px 25px 25px;
}

#Principal{
   
    width: 99.5%;
    height: 15%;
    display: flex;
    align-self: center;
    

}
#centro{
    
    display: flex;
    flex-direction: column;
    width: 99.8%;
    height: 69%;

    
}

#InformacionAcceso{

    width: 99.5%;
    height: 74%;
    display: flex;
    flex-direction:  row;   
    align-self: center;
}

#Final{
    
    width: 100%;
    height: 15%;
    display: flex;
    align-self: center;     
    border-radius: 25px 25px 25px 25px;

}



/*----AccesoInformacion----*/

#tabla #InformacionAcceso{
    display: flex;
    justify-content: space-around;
}

/*----------------------------Principal---------------------------*/
#Principal img{
    width: 100%;
    height: 100%;   
}
/*----------------------------Logo---------------------------*/

#logo{
    width: 99.8%;
    height: 20%;
    display: flex;
    flex-direction: row;
   
}
#logo img{
    width: 15%;
    height: 75%;
    position: relative;
    top: 25%;
    left: 2.7%;
}
#logo h1{
    position: relative;
    top: 35%;
    left: 2.7%;

}
/*----------------------------Centro---------------------------*/
#Tabla #centro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
#centro #Informacion{
    width: 45%;
    height: 100%;
    
    
}
#Informacion #Texto{
    border: 4px solid black;
    margin-bottom: 2%;
    border-radius: 20px;
}
#Texto p{
    font-size: 160%;
}

#Centro #Cuestionario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Cuestionario h2{
    text-align: center;
    
}
#Cuestionario h3{
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
    color: blue
    
}
#Cuestionario .escribir{
    border-radius: 0px 70px 0px 70px;
    border: 1px solid black;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    box-shadow: 0px 3px 4px 1px black;  
    margin-top: 30px;
}

.escribir .Entrar{
    border: none;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    
}

/*-------------------------------------------------------------------*/
#Informacion #Botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    height: 6%;
}

#Botones #Boton1{
    width: 35%;
    height: 100%;
    border-radius: 70px 0px 70px 0px;

}
#Boton1:hover{
    background-color: #84ea23;
}

#Botones #Boton2{
    width: 35%;
    height: 100%;
    border-radius: 70px 0px 70px 0px;

}
#Boton2:hover{
    background-color: #ea2323;
}

/*----------------------------Meta---------------------------*/

#final #control1{
    
    width: 50%;
    height: 95%;
    border-radius: 0px 0px 0px 15px; 
    position: relative;
    top: 11px;
}
#final #control2{
    width: 50%;
    height: 95%;
    border-radius: 0px 0px 15px 0px;
    position: relative;
    top: 11px;
}
