html{
    background-color: #e0e719;
}
#Rojo{
    background-color: #ea2323;
}
#Verde{
    background-color: #84ea23;
}

#Tabla{
    display: flex;
    flex-direction: column;
    width: 99.5%;
    height: auto;
    border: 6px solid black;
    border-radius: 25px 25px 25px 25px;
    align-content: center;
}

#Principal{
    width: 99.5%;
    height: 15%;
    display: flex;
    align-self: center;
}


#InformacionAcceso{
    width: 99.5%;
    height: 74%;
    display: flex;
    flex-direction:  row;   
    align-self: center;
}

#Final{
    width: 100%;
    height: 80px;
    display: flex;
    align-self: center;     
    border-radius: 25px 25px 25px 25px;
}
/*----------------------------Principal---------------------------*/
#Principal img{
    width: 100%;
    height: 110px;   
}
/*----------------------------Centro---------------------------*/


#ejemplo{
    width: 100%;
    height: 410px;
}

#ejemplo p{
    text-align: center;
    justify-self: center;
}
/*----------------------------Meta---------------------------*/

#Final #control1{
    
    width: 50%;
    height: 99%;
    border-radius: 0px 0px 0px 15px; 
    position: relative;
    top: 2px;
}
#Final #control2{
    width: 50%;
    height: 99%;
    border-radius: 0px 0px 15px 0px;
    position: relative;
    top: 2px;
   
  
}






